@media screen and (max-width:600px) {
    .select-box,.Popular,.card-1,.card-2,.card-3,.Newsletter,.Deals{
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .Newsletter-img-container img{
        width: 100%;
    }
    .card-model-1{
        width: 80%;
    }
}